$lightBlue: #0076BC;
$darkBlue: #0F1A40;
$yellow: #FFB512;
$grey: #C1CED3;
$sandGrey: #F7F5F0;

//Calendar Event
$accepted: #8BBB61;
$urgence: #fe8f00;
$demande: #0076bc;
$brouillon: #7fbadd;
$disable: #c1ced3;

// Font-color
$missionFontGrey: #6F768C;
